@(message: String)

@main("Wilkommen - Verleinix") {
	<!-- Teaser Boxen START -->
	<section class="box info">
		<div class="ym-grid linearize-level-1">
			<div class="ym-g33 ym-gl">
				<h4>Verleihen</h4>
				<p>Klick hier, um direkt was zu verleihen! Dazu brauchst du schon einen Partner, der sich etwas von dir leiht.</p>
				<a class="ym-button ym-next" href="/verleihen">Jetzt verleihen</a>
			</div>
			<div class="ym-g33 ym-gl">
				<h4>Ausleihen</h4>
				<p>Hier kannst du einen Ausleihvorgang einleiten, wenn du schon das drumherum geklärt hast!</p>
				<a class="ym-button ym-next" href="/ausleihen">Jetzt ausleihen</a>
			</div>
			<div class="ym-g33 ym-gl">
				<h4>Anbieten</h4>
				<p>Du möchtest der Community deine Gegenstände anbieten? Dann klick hier, um ein Angebot zu erstellen!</p>
				<a class="ym-button ym-next" href="#">Jetzt anbieten</a>
			</div>
		</div>
	</section>
	<!-- Teaser Boxen ENDE -->
    <p>index page  </p>
}
