@(ausleiheForm: Form[Ausleihe], errorMsg: String, bekannteAusleiher: List[Person])

@import helper._

@main("Etwas Verleihen - Verleihnix") {

<h2>Verleihen</h2>

@if(errorMsg != ""){
	<b style="color:red;">Fehler im Formular: @errorMsg</b>
}

@form(routes.Verleih.neueVerleihe()) {
	@inputText(ausleiheForm("item"), '_label -> "Objekt" )

	<div class="ym-grid">
		<div class="ym-g20 ym-gl">
		@select(
			ausleiheForm("leiher.id"),
			options = Seq("0" -> "(Neue Person)") ++ (bekannteAusleiher.map{ elem => elem.id.toString -> elem.getName()}),
			'_label-> "An wen?"
		)
		</div>
		<div class="ym-g80 ym-gr">
			<div id="new-hirer-box">
				@inputText(ausleiheForm("leiher.simpleName"), '_label -> "Name" )
			</div>
		</div>
	</div>

	@textarea(ausleiheForm("kommentar"), '_label -> "Anmerkungen" )
	@inputDate(ausleiheForm("von"), '_label -> "Verleihdatum (standard ist heute)" )
	@inputDate(ausleiheForm("frist"), '_label -> "Rückgabefrist" )
	<input type="submit" value="Verleihen" />
}

<script type="text/javascript">
	jQuery("#leiher_id").click(function() {
		if (jQuery("#leiher_id").val() === "0") {
			jQuery("#new-hirer-box").show();
		} else {
			jQuery("#new-hirer-box").hide();
		}
	});
</script>

}
